version: '3.8'

services:
    dingospeed:
        image: harbor.zetyun.cn/dingofs/dingospeed:2025
        container_name: dingospeed
          #environment:
          #- http_proxy=http://100.64.1.68:1080
          #- https_proxy=http://100.64.1.68:1080
          #- http_proxy=http://100.64.1.72:3128
        #- https_proxy=http://100.64.1.72:3128
        ports:
            - "8090:8090"
        volumes:
            - /Users/zhaoli/projects/code/zetyun/go/dingospeed/repos:/app/repos
            - /Users/zhaoli/projects/code/zetyun/go/dingospeed/docker/config/config.yaml:/app/config/config.yaml
            - /Users/zhaoli/projects/code/zetyun/go/dingospeed/config/ssl:/app/config/ssl
            - ./log:/app/log
            - /Users/zhaoli/Downloads/public:/app/public
        restart: always
        environment:
            - TZ=Asia/Shanghai
#        cpus: '25'  # 限制 CPU 为 20 核
#        mem_limit: '50g'  # 限制内存为 50G
